.caseWrp {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    position: relative;
    width: 100vw;
    max-width: 100vw;
    align-items: center;
}

.backgroundElement {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 0;

    img {
        max-width: 600px;
        opacity: 0.8;
    }
}

.caseContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 137px 0;
}

.vidWrp {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 116px;
}

.vid {
    border-radius: 20px;
}

.storyWrp {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.storyTop {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.storyText {
    color: #181818;
    width: 682px;
}

.storyImg {
    width: 550px;
    height: 396px;
    object-fit: cover;
    border-radius: 36px;
}

@media (max-width: 480px) {
    .caseContent {
        padding: 49px 24px;
    }

    .caseContent h1 {
        width: 312px;
        font-size: 32px !important;
        text-align: center;
    }

    .caseContentP {
        width: 312px !important;
        font-size: 14px !important;
        text-align: center;
    }

    .vidWrp {
        width: 312px;
        margin-bottom: 48px;
    }

    .vid {
        width: 312px !important;
        height: 175px !important;
    }

    .storyWrp {
        width: 312px;
        gap: 32px;
    }

    .storyTop {
        flex-direction: column;
        gap: 24px;
    }

    .storyText {
        width: 312px;
    }

    .storyText h3 {
        font-size: 24px !important;
        text-align: center;
        margin-bottom: 16px !important;
    }

    .storyText p {
        font-size: 14px !important;
        text-align: center;
    }

    .storyImg {
        width: 312px;
        height: 224px;
        border-radius: 16px;
    }
}