.talentWrp {
    padding-top: 80px;
    position: relative;
    width: 100vw;
    max-width: 100vw;
}

.heroWrp {
    background-color: #fff;
    padding: 152px 136px;
    position: relative;
}

.backgroundElement {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    img {
        max-width: 600px;
    }
}

.backgroundElement2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    img {
        max-width: 600px;
    }
}

.backgroundElement3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    img {
        max-width: 600px;
    }
}

.heroContent {
    display: flex;
    flex-direction: column;
    width: 786px;
    gap: 24px;
}

.talentContentWrp {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 91.5px 0;
    gap: 106px;
}

.section {
    display: flex;
    justify-content: center;
    gap: 123px;
    width: 100%;
}   
    
.sectionContent {
    width: 619px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ctaWrp {
    display: flex;
    background-color: #fff;
    justify-content: center;
    padding: 93px 0;
}

.ctaContent {
    display: flex;
    flex-direction: column;
    padding: 103px 93px;
    background-color: #0B1233;
    border-radius: 24px;
    width: 1161px;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto 0;
}