@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  max-width: 100vw;
}

body {
  background-color: #0B1233;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

h1 {
  color: var(--Neutral-100, #F8F9FA);

  /* Heading/H1 */
  font-family: "Helvetica Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
}

h2 {
  color: var(--Neutral-900, #181818);

  /* Heading/H2 */
  font-family: "Helvetica Neue";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.04px;
}

h3 {
  color: var(--Neutral-900, #181818);

  /* Heading/H3 */
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

p {
  color: var(--Neutral-100, #F8F9FA);

  /* Body/Large/Regular */
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

h5 {
  color: var(--Neutral-900, #181818);

  /* Heading/H5 */
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h6 {
  color: var(--Neutral-100, #F8F9FA);

  /* Heading/H6 */
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

th {
  color: var(--Neutral-100, #F8F9FA);

  /* Body/Large/Medium */
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

td {
  color: var(--Neutral-100, #F8F9FA);

  /* Body/Large/Regular */
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}