.FooterWrp {
    display: flex;
    padding: 0 64px 0 64px;
    justify-content: center;
    gap: 120px;
    z-index: 1000;
}

.FooterLeft {
    display: flex;
    flex-direction: column;
    padding: 83px 0;
    width: 625px;
}

.FooterRight {
    display: flex;
    gap: 40px;
    padding: 84px 0;
}

.FooterRightLinks {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.FooterRightContacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 399px;
}

.FooterRightContactsEach {
    display: flex;
    gap: 8px;
}

.FooterCopyright {
    width: 100%;
    text-align: center;
    color: #949494;
    margin-bottom: 48px;
    font-size: 16px;
}